.control-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.control-panel > div {
  border: 1px solid #bebebe;
  padding: 10px;
}

.control-panel .more-link {
  font-weight: 700;
}