/**
 * @file
 * Styling for Control Panel toolbar icons.
 */

/* Bar formatting, not implemented, but we may want this in the future. */
.toolbar-bar .toolbar-icon-control-panel-admin:before {
  background-image: url("../icons/bebebe/control_panel.svg");
}
.no-svg .toolbar-bar .toolbar-icon-control-panel-admin:before {
  background-image: url("../icons/bebebe/control_panel.png");
}
.toolbar-bar .toolbar-icon-control-panel-admin:active:before,
.toolbar-bar .toolbar-icon-control-panel-admin.active:before {
  background-image: url("../icons/ffffff/control_panel.svg");
}
.no-svg .toolbar-bar .toolbar-icon-control-panel-admin:active:before,
.no-svg .toolbar-bar .toolbar-icon-control-panel-admin.active:before {
  background-image: url("../icons/ffffff/control_panel.png");
}


/* Tray formatting, shown in screenshots. */
.toolbar-tray .toolbar-icon-control-panel-admin:before {
  background-image: url("../icons/787878/control_panel.svg");
}
.no-svg .toolbar-tray .toolbar-icon-control-panel-admin:before {
  background-image: url("../icons/787878/control_panel.png");
}
.toolbar-tray .toolbar-icon-control-panel-admin:active:before,
.toolbar-tray .toolbar-icon-control-panel-admin.active:before {
  background-image: url("../icons/000000/control_panel.svg");
}
.no-svg .toolbar-tray .toolbar-icon-control-panel-admin:active:before,
.no-svg .toolbar-tray .toolbar-icon-control-panel-admin.active:before {
  background-image: url("../icons/000000/control_panel.png");
}
